* {
    margin: 0;
    padding: 0;
}
html{
    font-family:Arial, Helvetica, sans-serif;
    background: aliceblue ;
}
header {
    background-image: url('../img/Banner.png');
    background-size: cover;
    background-position: center;
    min-height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 150, 150);
    padding: 40px 20px;
    font-size: 30px;
}

/*Menu*/
#menu{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: teal;
    margin: 0;
    padding: 12px 0;
}
#menu a {
    margin-inline: 30px;
    text-decoration: none;
    transition: 0.3s;
    color: black;
}
#menu a:hover {
    color:lightgray;
    transform: translateY(-2px);
}

/*Proyectos*/
#proyectos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 20px;
    gap: 20px;
}
#proyectos article{
    background: burlywood;
    border-radius: 15px;
    border: 2px solid rgb(175, 145, 105);
    transition: 0.5s;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
#proyectos article:hover {
    transform:scale(102%);
}
#proyectos img{
    padding-right: 20px;
}
